rules/qualification-1.0/sch/common-rules.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron">

<!--
    <rule context="cac:DocumentResponse/cac:Response/cbc:Description">
        <assert id="EHF-QU-R001"
                test="normalize-space(text()) != ' '"
                flag="fatal">All rejections MUST be explained.</assert>
    </rule>
-->

</pattern>