structure/syntax/Qualification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:fdc:difi.no:2017:vefa:structure:Syntax-1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Syntax" type="urn:SyntaxType" xmlns:urn="urn:fdc:difi.no:2017:vefa:structure:Syntax-1"/>
  <xs:complexType name="ElementType">
    <xs:sequence>
      <xs:element type="xs:string" name="Term">
        <xs:annotation>
          <xs:documentation>MÅ fylles inn. TODO: Erlend</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Description" minOccurs="0"/>
      <xs:element type="urn:AttributeType" name="Attribute" maxOccurs="unbounded" minOccurs="0" xmlns:urn="urn:fdc:difi.no:2017:vefa:structure:Syntax-1"/>
      <xs:element type="urn:ReferenceType" name="Reference" minOccurs="0" xmlns:urn="urn:fdc:difi.no:2017:vefa:structure:Syntax-1"/>
      <xs:element type="urn:ValueType" name="Value" minOccurs="0" xmlns:urn="urn:fdc:difi.no:2017:vefa:structure:Syntax-1"/>
      <xs:element type="urn:PropertyType" name="Property" minOccurs="0" xmlns:urn="urn:fdc:difi.no:2017:vefa:structure:Syntax-1"/>
      <xs:element type="urn:ElementType" name="Element" maxOccurs="unbounded" minOccurs="0" xmlns:urn="urn:fdc:difi.no:2017:vefa:structure:Syntax-1">
        <xs:annotation>
          <xs:documentation><![CDATA[<Element>
                        <Term>cac:PartyLegalEntity</Term>
                        <Name>Party legal entity</Name>

                        <Element>
                            <Term>cbc:CompanyLegalForm</Term>
                            <Name>Economic operator legal form</Name>
                            <Description>A textual description of the legal form of the economic operator.</Description>
                        </Element>
                    </Element>]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="cardinality" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ValueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:sequence>
      <xs:element name="Term">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="schemeID"/>
            <xs:enumeration value="mimeCode"/>
            <xs:enumeration value="filename"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="TED/Doffin scheme identifier"/>
            <xs:enumeration value="Scheme identifier"/>
            <xs:enumeration value="Attached object mime code"/>
            <xs:enumeration value="Attached document filename"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Description" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="The mime code of the attached document."/>
            <xs:enumeration value="The file name of the attached document."/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="urn:ReferenceType" name="Reference" minOccurs="0" xmlns:urn="urn:fdc:difi.no:2017:vefa:structure:Syntax-1"/>
      <xs:element type="urn:ValueType" name="Value" xmlns:urn="urn:fdc:difi.no:2017:vefa:structure:Syntax-1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SyntaxType">
    <xs:sequence>
      <xs:element type="xs:string" name="Term"/>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="urn:PropertyType" name="Property" maxOccurs="unbounded" minOccurs="0" xmlns:urn="urn:fdc:difi.no:2017:vefa:structure:Syntax-1"/>
      <xs:element type="urn:NamespaceType" name="Namespace" maxOccurs="unbounded" minOccurs="0" xmlns:urn="urn:fdc:difi.no:2017:vefa:structure:Syntax-1"/>
      <xs:element type="urn:DocumentType" name="Document" xmlns:urn="urn:fdc:difi.no:2017:vefa:structure:Syntax-1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:sequence>
      <xs:element type="xs:string" name="Term"/>
      <xs:element type="urn:ElementType" name="Element" maxOccurs="unbounded" minOccurs="0" xmlns:urn="urn:fdc:difi.no:2017:vefa:structure:Syntax-1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PropertyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="key" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ReferenceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NamespaceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="prefix" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>